{% extends '_base.html' %}
{% block title %}登录{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
        <div class="form-horizontal">
            <form action="{% url 'member:member_login' %}" method="post">{% csrf_token %}
                        <label>邮箱</label>
                        <p>{{ form.email }}</p>
                        <label>密码</label>
                        <p>{{ form.password }}</p>
                    <input type="submit" class="btn btn-default" value="登录" />
                    <a href="{% url 'member:member_change' %}">忘记密码?</a>
            </form>
        </div>
        </div>
{% endblock %}